.data{
	background-color: black;  
	}
h4{
	color: White; 
}	
h1{
	color: #21759b;
	font-family: quicksand;	
}
a{
	color: #21759b; 
}
@font-face {
	font-family:"quicksand"
	src: url("Quicksand-Regular.otf")
}