.data{
	background-color: black;
	border: 1px solid black;
	width: 100%; 	
}
.data1{
	border:1px solid black;
	width: 100%;
	margin-top:100px;
	background-color: black	
}
.data2{
	width: 100%; 
	margin-top:30px; 
}
h4{
	color: White; 
}	
h1{
	color: #21759b; 
}
a{
	color: #21759b; 
}