.container-fluid{
	background-color: black;  
	}
h4{
	color: White; 
}	
.nonspan{
	color: #21759b;
	font-family: quicksand;	
}
a{
	color: #21759b;	
}
a:visited{
	color: maroon; 
}
a:hover{
	font-weight: bold; 
}
a:active{
	text-decoration: none; 
}
@font-face {
	font-family:"quicksand"
	src: url("Quicksand-Regular.otf")
}